@import '../../scss/variable.scss';

.autor-page {
	display: block;
	width: 100%;
	overflow-x: scroll;
	max-width: 980px;
	margin: 0 auto;

	.autor-block {
		max-width: 980px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-top: 10px;
		padding-bottom: 40px;

		@media screen and (max-width: $tablet) {
			padding: 40px 20px;
		}

		@media screen and (max-width: 500px) {
			flex-wrap: nowrap;
			overflow: auto;
			padding-top: 10px;
			padding-bottom: 20px;
		}

		&__item {
			width: calc(50% - 20px);
			margin-left: 10px;
			display: flex;
			margin-bottom: 40px;

			@media screen and (max-width: $tablet) {
				width: 100%;
				margin-bottom: 0px;
			}

			@media screen and (max-width: 500px) {
				margin-left: 0;
				flex-direction: column;
				max-width: 200px;
				margin-right: 40px;

				&:last-of-type {
					padding-right: 25px;
				}
			}
		}

		.autor-avatar {
			img {
				height: 324px;
				width: 200px;
				object-fit: cover;
			}

			@media screen and (max-width: $tablet) {
				img {
					height: 200px;
				}
			}
		}

		.autor-description-block {
			padding-left: 24px;

			&__title {
				font-family: SourceSansPro;
				font-weight: 600;
				font-size: 20px;
				margin-bottom: 10px;
				color: $color-black;
			}

			&__desc {
				font-family: SourceSansPro;
				font-weight: normal;
				font-size: 16px;
				margin-bottom: 16px;
				min-height: 41px;

				@media screen and (max-width: 500px) {
					min-height: 60px;
				}
			}
		}

		.button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 38px;
			width: 130px;
			color: $color-white;
			font-family: SourceSansPro;
			font-size: 16px;
			text-align: center;
			border-radius: 4px;
			background-color: $color-aquamarine;

			&:hover {
				cursor: pointer;
				background-color: lighten($color-aquamarine, 2);
			}
		}
	}
}
